*.vstf
*.swp
work
*.wlf
**/transcript
log
*.cache
*.runs
*.hw
*.ioplanning
*.sim
.apc
.settings
.cproject
.project
.vivado*
#solution*
.Xil
*.dcp
*.ip_user_files
compile/*
csim
sim
syn
impl
.autopilot
.debug
*.log
